* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header-container {
  background-color: black;
  color: white;
  height: 70px;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
  padding: 0px 1.2em;
}

.links {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  background-color: black;
  color: white;
}

p {
  font-size: 1.2em;
}

.homeLink,
.cartLink {
  color: white;
}
